//登录页面
.Login{background:#f8f8f8;padding:46px 0;}
.Login .loginTab{width:460px;margin:0 auto;}
.loginTab .tabTop p{font:15px/50px "";color:#000;display:inline-block;}
.loginTab .tabTop a{font:12px/50px "";color:#d24381;display:inline-block;}
.loginTab .tabTop a:hover{text-decoration:underline;}
.loginTab .tabTop span{font:12px/50px "";color:#000;display:inline-block;}
.loginTab input{border:1px solid #d3d3d3;font:12px/32px "";color:#8d8d8d;display:inline-block;box-sizing :border-box;padding-left:16px;margin-top:12px;}

input#account,input#password{width:100%;}

.cook{
    height:14px;margin-top:12px;
    #check{width:14px;height:14px;border:1px solid #666;background:#fff;margin:0;}
    span{font:12px/14px "";color:#2b2b2b;margin-left:4px;}
    a{font:12px/14px "";color:#2b2b2b;}
    a:hover{text-decoration:underline;}
}
.others{color:#bfbfbf;text-align:center;margin-top:9px;
    i{display:inline-block;width:115px;height:1px;background:#bfbfbf;}
    p{display:inline-block;font:14px/52px "";color:#bfbfbf;padding:0 15px;vertical-align: middle;}
    a{display:inline-block;width:52px;padding:0 10px;
        span{display:inline-block;width:52px;height:52px;background:url(../images/icon.png) no-repeat 0 0;}
        b{font:14px/28px "";color:#bfbfbf;}
    }
    .wechat{
        span{background-position:0px -1px;}
    }
    .weibo{
        span{background-position:0px -63px;}
    }
    
}


input#tishi{display:block;width:100%;color:#BE0929;padding:0;border:0;background:none;margin:0;}
.loginBtn{display:block;width:100%;border:none;font:16px/46px "";color:#fff;text-align:center;background:#2b2b2b;}

