.margin{position:relative;}
.listTop{margin-top:12px;
    li{
        display:flex;justify-content: space-between;flex-wrap:wrap;height:55px;border:1px solid #ebebeb;border-bottom:none;overflow:hidden;
        p{width:75px;text-align:center;font:13px/55px "";color:#000;}
        .brands{width:800px;}
        .more{
            display:inline-block;width:77px;font:13px/55px "";color:#838383;text-align: center;cursor:pointer;
            
            i{display:inline-block;width:10px;height:6px;background:url(../images/icon.png) no-repeat;background-position:-18px -234px;margin:0 20px 0 5px;}
        }
        .tip{width:883px;}
        .spanlist{
            span{ display:inline-block;font:13px/55px "";color:#838383;margin-right:42px;cursor:pointer;}
        }
        .sort{width:883px;
            span:first-child{font-weight:bold;}
        }
    }
    li:last-child{border:1px solid #ebebeb;}
}

.plist{
    display:flex;justify-content: space-between;flex-wrap:wrap;
    li{ text-align:center;width:300px;margin-top:10px;
        a{font:13px/19px "";text-align:left;
            img{
                display:inline-block;width:300px;
            }
            p{color:#555;display:block;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
            span{color:#b4b4b4;display:block;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
            i{color:#555;font-family:Georgia;display:block;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
        }
    }
}
.tips{position:absolute;width:170px;right:-180px;bottom:-230px;
    .flower{
        text-align:center;
        p{font:12px/24px "";height:24px;background:#d1d1d1;
            span{display:inline-block;padding:0 8px;}
        }
        .birst{display:block;width:70px;margin:10px 0 10px 50px;}
        a{
            img{display:block;width:81px;margin-left:45px;}
        }
        
    }
}